server:
  port: 8001

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 150MB
      max-request-size: 150MB


storage:
  details:
    parent-folder: file-storage
    required-file-extension: xlsx